RewriteEngine On
RewriteBase /

# auth stuff
RewriteRule ^signin$			index.php?op=auth 		[QSA]
RewriteRule ^signout$			index.php?op=auth_out 	[QSA]
RewriteRule ^process-signin$	index.php?op=auth_in 	[QSA]
RewriteRule ^process-signin2$	index.php?op=auth_in2 	[QSA]

# post pagination
RewriteRule ^page-([0-9]+)$		index.php?op=view&page=$1	[QSA]

# post comments
RewriteRule ^post-comment$		index.php?op=post-comment	[QSA]

# admin stuff
RewriteRule ^manage$			admin.php				[QSA]
RewriteRule ^manage/new-post	admin.php?op=new-post	[QSA]
RewriteRule ^manage/edit-post/(.+)	admin.php?op=edit-post&post=$1	[QSA]

# random pages
RewriteRule ^terms$				index.php?op=tos		[QSA]
RewriteRule ^img-upload$		index.php?op=img-upload	[QSA]
RewriteRule ^com-img-upload$	index.php?op=com-img-upload	[QSA]
RewriteRule ^about-me$			index.php?op=about		[QSA]

# catch everything else (webpages) that don't exist in the filesystem
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?op=view&postname=$1 [QSA]