RewriteEngine On
RewriteBase /

RewriteRule ^signin$	index.php?op=auth [QSA]
RewriteRule ^signout$	index.php?op=auth_out [QSA]
RewriteRule ^process-signin$	index.php?op=auth_in [QSA]
RewriteRule ^process-signin2$	index.php?op=auth_in2 [QSA]


# catch everything else (webpages) that don't exist in the filesystem
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?op=view&postname=$1 [QSA]